@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This application will call Google.com.au to search. It is used to counts down how many times the URL will be shown in the list of the top 100 by input the keyword.</p>
